body
  color: $text-color
  +reg
  
a 
  text-decoration: none
  
.button-o
  font-size: 12px
  text-transform: uppercase
  padding: 16px 22px
  background-color: #ffffff
  color: $primary
  border: 2px solid $primary
  transition: 0.3s
  +bold
  &:hover
      color: #ffffff
      background-color: $primary
  
.button
  font-size: 15px
  text-transform: uppercase
  border: none
  padding: 25px 45px
  background-color: $primary
  color: #ffffff
  border: 2px solid $primary
  transition: 0.3s
  +bold
  &:hover
      color: $primary
      background-color: #fff

.bg-secondary
  background-color: $bg-secondary

.input
  height: 80px
  padding-left: 30px
  border: 1px solid #dddddd

.checkbox
  &:checked + label::before
    background-color: $primary
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
  &-label
    display: flex
    align-items: center
    margin-right: 40px
    &:hover
      cursor: pointer
    &::before
      content: ''
      width: 30px
      height: 30px
      border: 1px solid #dddddd
      margin-right: 20px
      background-size: 50% 50%
      background-repeat: no-repeat
      background-position: center center
    &:hover::before
      background-color: #eee

.visuallyhidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

@media (max-width: 576px)
  .button-o
    font-size: 10px
