.hero
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top
  background-size: cover
  padding: 120px 0 270px 0
  margin-top: 80px
  &__title
    display: block
    font-size: 30px
    max-width: 260px
    +reg
    margin-bottom: 50px
  &__subtitle
    display: block
    font-size: 30px
    +bold
    margin-bottom: 67px

@media (max-width: 991px)
  .hero
    background-position: top left 40%
    margin-top: 60px
    padding-bottom: 100px
    
@media (max-width: 576px)
  .hero
    background-position: top right
    background-size: 120%
    &__title, &__subtitle
      margin-bottom: 30px
    