.offer
  padding: 129px 0
  &-block
    margin-top: -200px
    padding: 80px    
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1)
    &_calc-bg
      background: #fff url(../img/offer/form-bg.png) no-repeat center right
      background-size: contain
    &_price-bg
      background: #fff url(../img/offer/price-form-bg.png) no-repeat center right
      background-size: contain
  &__title
    font-size: 25px
    text-transform: uppercase
    margin-bottom: 30px
    +bold
  &__subtitle
    display: block
    font-size: 21px
    margin-bottom: 48px
    max-width: 820px
.offer-second
  margin-top: -180px
  padding-bottom: 0

.form
  &__row
    display: flex
    align-items: center
    max-width: 900px
  &__row:not(:last-child)
    margin-bottom: 25px  
  &__label
    display: block
    font-size: 17px
    margin-bottom: 15px
  &__group
    flex-basis: 33.33%
    &:last-child .form__input
      border-right-width: 1px
  &__input
    width: 100%
    border-right-width: 0px
  &__button
    height: 80px
    width: 100%
  &__policy
    display: block
    font-size: 17px
    margin-left: 30px
    width: 400px

@media (max-width: 1199px)
  .offer
    &__block
      background-position: center right -10%
    &__subtitle
      max-width: 600px
  .form
    &__policy
      width: 100%
@media (max-width: 991px)
  .offer
    &__block
      background: #ffffff
  .form
    &__row
      flex-direction: column
      &-checkbox
        display: flex
        flex-direction: row
    &__group
      width: 100%
    &__group:not(:last-child)
      margin-bottom: 20px
    &__input
      border-width: 1px
      height: 60px
    &__policy
      padding: 0
      text-align: center
      margin-left: 0
@media (max-width: 768px)
  .offer
    &__block
      padding: 30px
    &__title
      font-size: 18px
      margin-bottom: 20px
    &__subtitle
      font-size: 16px
      margin-bottom: 40px
  .form
    &__row
      &-checkbox
        flex-direction: column
    &__checkbox
      margin-bottom: 20px
      margin-right: auto
    &__button
      padding: 5px 20px
      line-height: 1.5
      white-space: normal
      

@media (max-width: 576px)
  .form
    &__policy
      font-size: 14px

      
    


